.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 61, 98, 0.9);
  gap: 100px;
  font-family: "Segoe UI", sans-serif;
}


.login-logo {
  width: 650px;
  height: 650px;
  object-fit: contain;
}


.login-card {
  width: 400px;
  background: #f4f4f4;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}


.login-top-image {
  width: 90px;
  height: 90px;
  object-fit: contain;
}


.login-card input {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background-color: #777;
  color: white;
  text-align: center;
  font-size: 14px;
}

.login-card input::placeholder {
  color: #ddd;
}


.btn-access {
  width: 120px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #2ecc71;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn-access:hover {
  background-color: #27ae60;
}


.btn-register {
  background: none;
  border: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  margin-top: 5px;
}

.btn-register:hover {
  text-decoration: underline;
}
